<h1>Editing card_transaction</h1>

<% form_for(@card_transaction) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @card_transaction %> |
<%= link_to 'Back', card_transactions_path %>