<div id="explain">
<h1>Explanation of rig types</h1>
<p>
Rig types can be whatever you want.
Usual entries are Class A, Class B, Class C, Truck Camper, Pull Trailer, 5th Wheel trailer, Tent but you can use what you want.
The Rig type entry is not used by the system but it is displayed for the information of the user.
</p><p>
If you want to require the remote reservation user to select a rig type you will have to do the following:
<ul>
<li>
Define a rig type named "Unknown".
</li><li>
Use the "Update Sort Order" button and move that rig type to the top of the list.
</li><li>
In admin->setup->system options check the button under "Remote Reservation Options" for "Display Rig Type on Remote:"
</li><li>
In admin->setup->system options check the button under "Mandatory Entries for Remote Reservations" for "Rigtype:"
</li>
There will need to be a number of rig types defined for this to be useful.
</p>
</div>
