<!--[form:template]-->
<p><label for="mail_template_name">Email Name:</label><br/>
<%= @mail_template.name  %></p>

<p><label for="mail_template_body">Email Body</label><br/>
<%= text_area 'mail_template', 'body'  %></p>
<!--[eoform:template]-->
