<% form_tag setup_season_path(@season), :method => :put do %>
  <%= render :partial => 'form' %>
  <p>
  <%= submit_tag 'Save' %>
  </p>
<% end %>

<%= button_to 'Cancel', setup_seasons_path, :method => :get %>
