<div id="explain">
<h1>Explanation of PayPal Certificate generation</h1>
<p>
The PayPal certificate is a member of a pair of files (keyfile and public certfile) which are
used to encrypt and validate communication from your system to the PayPal servers.
They make the information private because it is encrypted with the keyfile and cannot be decoded unless you have a copy 
of the public certificate.
Together the public certificate and private keyfile serve to create a very strong assurance of privacy and validity.
The generated files will have an expiration date of 3650 days in the future.
</p><p>
The two files will be generated with the information you provide on this page and the private key file will be saved in the system while the 
public certificate file will be generated and will be downloaded in the following dialog.
You can generate and download more than one public certificate using a single private keyfile but this in not usually needed.  
If the system already has a private keyfile configured when you bring up this page, you will be given the choice to generate a new private keyfile.
When the private keyfile is generated and saved in the system any private certificate you have previously installed will not be usable.
</p>
<hr>
</div>
