<%= render :partial => 'setup/buttons' %>
<%= render :partial => 'explain2' %>
<div>
<%= button_to 'Download certificate', certificate_setup_paypals_path %>
</div>
<%= button_to 'Finished', setup_index_path, :method => :get %>
