<div id="explain">
<h1>Explanation of Camper upload</h1>
<p>
This dialog is intended to load a file of campers into the system database.
It does not check whether a similar record already exists or not.  
The input file can be located anywhere on your computer that you can access.
You will use the 'Browse' button to navigate to the folder the file is in and select the file.
The file must be a csv file and the file name must end with .csv.
A csv (comma separated values) file can be created by all spreadsheet programs like Excel or LibreOffice etc.
The field separator must be comma.
</p> <p>
The spreadsheet must have as it's first line the fields you will be including as column headings.
The column names must be selected exactly from this list:
</p> <p>
<b>last_name,first_name,address,address2,city,state,mail_code,country,email,phone,phone_2,notes</b>
</p> <p>
The last_name field is required and <b>any others that you have identified as required in system options must be provided</b>.
The fields may be in whatever order you desire and only the ones you have identified as required and the last_name must be provided.
</p> <p>
The <b>Upload csv file of campers</b> button will load the campers in the file you have identified into the system database.
</p> <p>
The <b>Create a camper</b> button will bring up a dialog in which you can define a single camper.
</p>
</div>
