<%= render :partial => 'explain' %>
<% form_tag setup_extra_path(@extra.id), :method => :put do %>
  <%= render :partial => 'form' %>
  <p>
  <%= submit_tag 'Save' %>
  </p>
<% end %>
<%= link_to 'Cancel', setup_extra_index_path, :class => 'link_btn' %>
