<p> <label for="reservation_startdate"><b>Starting Date:</b></label> <%= date_select 'reservation', 'startdate' %></p>
<p> <label for="reservation_enddate">  <b>Ending Date:  </b></label> <%= date_select 'reservation', 'enddate'   %></p>
