<h1>Explanation of Data Downloads</h1>
The data contained in the report you just generated can be downloaded in three different formats depending on how you want to use it.
All you need to do is select the button that corresponds to your usage and a report file will be created in a location depending on what browser you are using.
In addition the data can be printed out by using the <b>print</b> buttton.
Following is an explanation of what is contained in each report file and what use it is intended for.
My mention of and link to software is not meant to be an endorsement.
I do not use these products but some users of Open Campground in the Cloud reservation system do.
<ul>
<li><b>Download Data</b>
This button will generate a .csv file (comma seperated values) which can be imported by any spreadsheet program such as exel or openoffice etc.  
The file will contain all of the data shown in the report below in columns the same as in the printed report.
The first two lines of the file will be headers.
The file will only contain the row data, no totals or subtotals will be included.
You can sort and total etc. the data in your spreadsheet program as you desire.
</li>
<li><b>Download for BS&A</b>
This button will generate a .csv file intended for use with <a href="https://www.bsasoftware.com/about">BS&A software</a>.
BS&A Software provides software products designed specifically for municipalities.
The file will contain the following fields:<br />
payment date,"OCG",reservation #,blank,blank,payment amount,camper name,creditcard name<br />
which are intended to correspond to the following BS&A system fields:<br />
"Post Date", "Reciept Item Code", "Reference #", "GL number Debit", "GL number Credit", "Amount", "Paid by", "Tender type code"<br />
There are no column headers in this file.
</li>
<li><b>Download for Transaction Pro</b>
This button will generate a .csv file intended for use with <a href="https://www.transactionpro.com">Transaction Pro</a> software,
a system to import data into QuickBooks software.
The file will contain the following fields:<br />
camper lastname,camper firstname,date of payment,space name,payment amount,reservation #<br />
The first line will be headers as follows:<br />
Customer,Date,Item,Amount,Sale Number<br />
</li>
</ul>
