<table>
<tr> <td> Open Campground lts 2.3 version <%= OC_RELEASE %>
update <%= OC_VERSION %> </tr> </td>
<tr> <td> Copyright &copy; 2007-2022 Norman K. Scherer </tr> </td>
</table>
For downloads or more information go to the 
<a href="http://opencampground.com">Open Campground home page</a>.
<ul>
<li>Acknowledgments
<ul>
<li>
Support for the implementation of the remote reservation facility was provided by 1245299 AB Ltd.
</li>
<li>
Dutch translations provided by Rembrandt Leliveld
</li>
<li>
Swedish translations provided by Rembrandt Leliveld
</li>
<li>
French translations provided by Melanie Anderson
</li>
<li>
Italian translations provided by Marco Boeri
</li>
<li>
German translations provided by Mitja Horlemann (Campingplatz Moosbachtal).
</li>
</ul>
<li>
<p>
This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.
</p>
<p>
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
</p>
<p>
You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
</p>
See a full copy of the <%= link_to 'license', admin_license_index_path %>.
</li>
</ul>
